body {
    font-family: 'Exo 2', sans-serif;
    background-image: url("./images/background2.jpg");
    color: white;
    text-align: center;
}

img {
    height: 300px;
    width: 200px;
    padding: 5px;
    
}

.section-title {
    font-size: 200%;
}

.main-section-title {
    font-size: 300%;
    text-align: center;
}

.character {
    display: inline-block;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.651);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    align-content: center;
    border-radius: 10px;
    padding: 10px;

}

.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.character-name {
    text-align: center;
}

.character-health {
    text-align: center;
}

#selected-character-section {
    margin-top: 35px;
    float: left;
    margin-left: 30px;
}

#action {
    margin-top: 35px;
    float: right;
    margin-right: 30px;
}

#fight-section {
    height: 100px;
    width: 500px;
    position: absolute;
    left: 38%;
    margin-left: -50px;
    top: 65%;
    margin-top: -50px;
}

#restart-section {
    background-color: rgba(0, 0, 0, 0.692);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 25px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(5, 45, 71);
    border-radius: 8px;
    border-color: rgb(5, 45, 71);
}

#availible-to-attack-section {
    height: 300px;
}